{% extends 'base.html' %}
{% load static %}
{% load pluralize %}
{% load i18n %}
{% if request.LANGUAGE_CODE == 'ru' %}{% endif %}

{% block content %}
    <h1 id="blogtitle" class="font-weight-bold text-center">Блог</h1>
    <h3 class="text-center mb-5">Автор написал {{ blogs.count }} {{ blogs.count|rupluralize:"пост,поста,постов"   }}</h3>

{% for blog in blogs %}
    <div class="row justify-content-center my-3 col-md-12 col-xl-12">
{#    <div class="container col-md-10"></div>#}
{#        <div class="col-md-8"></div>#}
            <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                <a  class="text-decoration-none" href="{% url 'blog:detail' blog.id %}">
                <img src="{{ MEDIA_URL }}{{ blog.image }}" alt="Image" class="img_blog">
                </a>
            </div>
            <div class="blog_text col-sm-7 col-md-8 col-lg-8 col-xl-9">
                <a  class="text-decoration-none" href="{% url 'blog:detail' blog.id %}">
                    <h2>{{ blog.title }}</h2>
                </a>
                <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
                <div>{{ blog.description|striptags|truncatewords:45|linebreaks }}</div>
{#            <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>#}
            </div>
    </div>
    <hr class="hr-home">
{% endfor %}
{% endblock %}
{#{% for blog in blogs %}#}
{#    <div class="row justify-content-center my-3">#}
{#        <div class="col-md-10">#}
{#            <a href="{% url 'blog:detail' blog.id %}">#}
{#                <h2>{{ blog.title }}</h2>#}
{#            </a>#}
{#            <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>#}
{#            <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}