{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Дмитрий  😊</title>{% endblock title %}
{% block content %}

    <style>
    .vis_adaptiv{
        visibility: hidden;
    }
    .vis_anadaptiv{
        {#visibility: hidden;#}
    }
    </style>

    <div class="container container-main">
    <div class="row justify-content-center my-3">
        <div class="col-5">
            <img src="{% static "personal_portfolio/img/1.jpg" %}"  class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">

            <h1 id="hometext" class="font-weight-bold font_work">Портфолио Дмитрий  😊</h1>
        </div>
    </div>
    </div>

    {% comment %}{% endcomment %}
<div class="container switch-container">
    <ul class="nav nav-tabs nav-tabs-switch" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active home-tab-font" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Адаптив</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link profile-tab-font" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Не адаптив</button>
        </li>
{#        <li class="nav-item" role="presentation">#}
{#            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>#}
{#        </li>#}
    </ul>
</div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="container col-md-9">
                <h2 class="mt-5 font_work_main text-center">HTML CSS JS Python/Django 111</h2>
                <hr class="hr-work">
                    <div class="row">
                        {% for project in projects %}
                            {% if project.adaptiv %}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12 col-xl-4 item_element mt-2 mb-2">
                                    {% if project.url %}
                                        <a href="{{ project.url }}" target="_blank">
                                            <img src="{{ project.image.url }}" class="img-fluid mb-2 ig-home img-responsive">
                                        </a>
                                    {% else %}
                                        <img src="{{ project.image.url }}" class="img-fluid mb-2 ig-home img-responsive">
                                    {% endif %}
                                    <h3 class="font_work text-center mb-3 mt-3">{{ project.title }}</h3>
                                    <p class="text-wrap text-descr mb-1 mt-1" >{{ project.description }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="container col-md-9">
                <h2 class="mt-5 font_work_main text-center">HTML CSS JS Python/Django</h2>
                <hr class="hr-work">
                <div class="row">
                {% for project in projects %}
                    {% if project.adaptiv != True %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 item_element mt-2 mb-2">
                            {% if project.url %}
                                <a href="{{ project.url }}" target="_blank">
                                    <img src="{{ project.image.url }}" class="img-fluid mb-2 ig-home img-responsive">
                                </a>
                            {% else %}
                                <img src="{{ project.image.url }}" class="img-fluid mb-2 ig-home img-responsive">
                            {% endif %}
                            <h3 class="font_work text-center mb-3 mt-3">{{ project.title }}</h3>
                            <p class="text-wrap text-descr mb-1 mt-1" >{{ project.description }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

{#        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div>#}
    </div>



{% endblock content %}

{% block certificate %}

    <div class="container container-layer">
        <h2 class="mt-5 font_work text-center">Мои сертификаты   ввва</h2>
        <hr class="hr-home">
        <div class="row row-cert justify-content-center">
            <div class="col-lg-3 col-md-4  col-lg-3 col-xl-3 img-cert-left mt-2 mb-2 mr-3 ml-3">
                <img onclick="openModall(this)" src="{% static "personal_portfolio/img/html.jpg" %}"  class="img-cert img-responsive">
            </div>
            <div class="col-lg-3 col-md-4 img-cert-left mt-2 mb-2 mr-3 ml-3">
                <img onclick="openModall(this)" src="{% static "personal_portfolio/img/css.jpg" %}"  class="img-cert img-responsive">
            </div>
            <div class="col-lg-3 col-md-4 img-cert-left mt-2 mb-2 mr-3 ml-3">
                <img  onclick="openModall(this)" src="{% static "personal_portfolio/img/JavaScript.jpg" %}"  class="img-cert img-responsive">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-3 row-cert justify-content-center">

            <div class="col-lg-3 col-md-4 img-cert-left mt-2 mb-2 mr-3 ml-3">
                <img onclick="openModall(this)" src="{% static "personal_portfolio/img/Python.jpg" %}"  class="img-cert img-responsive">
            </div>
            <div class="col-lg-3 col-md-4 img-cert-left mt-2 mb-2 mr-3 ml-3">
                <img onclick="openModall(this)" src="{% static "personal_portfolio/img/sql.jpg" %}"  class="img-cert img-responsive">
            </div>
        </div>
    </div>
    <section class="modal-sertificate modal-sert">
{#        <figure src="" width="766" height="560px" allowfullscreen></figure> width="766" height="560"#}
        <img class="sert_src img-responsive" src=""  alt="sertificate">
        <button onclick="closeModal()" class="modal-close" type="button" aria-label="Закрыть"></button>
    </section>

    <script>

        // если нажать мимо модалки

        window.onclick = function(event) {

            if (event.target == document.getElementsByClassName('layer')[0]) {

                document.getElementsByClassName('modal-sert')[0].classList.remove('modal-show')
                document.getElementsByClassName('layer')[0].style.display = 'none';
                {#document.getElementsByClassName('container-layer')[0].classList.remove('layer')#}
            }
        };
    </script>

{% endblock certificate  %}

{% block JS-home %}
    <script type="text/javascript" src="{% static "personal_portfolio/js/main.js" %}"></script><!--без этого не загружается 2212-->

{% endblock JS-home %}



